{
  "kick": {
  },
  "fuyukaApi": {
    "baseUrl": "ws://127.0.0.1:38321",
    "answerLevel": 16,
    "answerLength": {
      "default": 30
    }
  },
  "oneComme": {
    "baseUrl": "ws://127.0.0.1:11180",
    "pathUsersCsv": ""
  }
}
